<nav class="navbar navbar-expand-lg navbar-border">
    <div class="container-fluid">
        <a class="navbar-itsjh-title" href="/"><span class="material-icons">import_contacts</span>&nbspOnline_BookStore</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse nav-itsjh-items" id="navbarSupportedContent">
            <% if(signinStatus) { %>
                <div class="">
                    <a class="btn btn-outline-secondary shadow-drop-center" aria-current="page" href="/basket">장바구니</a>&nbsp&nbsp
                    <a class="btn btn-outline-secondary shadow-drop-center" aria-current="page" href="/order">주문내역</a>&nbsp&nbsp
                    <a class="btn btn-outline-secondary shadow-drop-center" aria-current="page" href="/mypage">마이페이지</a>&nbsp&nbsp
                    <a class="btn btn-outline-secondary shadow-drop-center" aria-current="page" href="/signin">로그아웃</a>  
                </div>
            <% } else { %>
                <div>
                    <a class="btn btn-outline-secondary shadow-drop-center" aria-current="page" href="/signin">로그인</a>&nbsp&nbsp
                    <a class="btn btn-outline-secondary shadow-drop-center" aria-current="page" href="/join">회원가입</a>                
                </div>
            <% } %>
        </div>
    </div>
</nav>
