<!DOCTYPE html>
<html>
    <% include ./head.ejs %>
  <body>
    <% include ./nav.ejs %>
    <div class="card text-center" style="width:480px; margin: 48px auto;">
        <div class="card-header">
          로그인
        </div>
        <form method="post">
            <div class="card-body">
                <h5 class="card-title">
                  <div class="input-group joinInput">
                      <span class="input-group-text">아이디</span>
                      <input type="text" name = "uid" class="form-control">
                  </div>
                  <div class="input-group joinInput">
                      <span class="input-group-text">비밀번호</span>
                      <input type="text" name = "upw" class="form-control">
                  </div>
                </h5>
                <p class="card-text">회원으로 로그인하면 도서를 구매하실 수 있습니다.</p>
            </div>
            <div class="card-footer text-muted">
                <input
                    type="submit"
                    class="btn btn-secondary flip-horizontal-bottom"
                    value="로그인"
                    onclick="javascript: form.action='/signin';"
                />
            </div>
        </form>
    </div>
  </body>
</html>
