<!DOCTYPE html>
    <html>
    <%- include('../partials/head'); %>
    <body>
        <header>
            <%- include('../partials/header', {
                signinStatus: signinStatus,
                userName: userName
            }); %>
        </header>
    <main>
        <%- include(page, {
            bestSeller: best,
            content: content,
            rows: rows,
            signinStatus: signinStatus
        }) %>
    </main>

    <footer>
    <%- include('../partials/footer'); %>
    </footer>

    </body>
</html>