<!DOCTYPE html>
<html>
  <% include ./head.ejs %>
  <body>
    <% include ./nav.ejs %>
    
    <div class="container-fluid">
      <div class="alert alert-secondary" role="alert">
        <span class="material-symbols-outlined" style="vertical-align: middle;">notifications_active</span>
        도서구매사이트 개인용과제요구사항 기반 ejs 웹페이지
      </div>
      <div class="main-book-frame">
        <div class="row row-cols-1 row-cols-md-5 g-4">
          <% for(var i = 0; i < num; i++){ %>
            <div class="col">
              <a href="/book/<%= books[i].book_id %>" style="text-decoration: none; text-decoration-line: none; color: black;">
                <div class="card main-book-shadow" style="width: 180px; float: left; margin-bottom: 16px;">
                    <img src="images/book/book<%= books[i].book_id%>.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title main-book-card-title">
                            <strong><%= books[i].book_title %></strong>
                        </h5>
                        <p class="card-text main-book-card-des">
                            <span class="material-symbols-outlined"
                                style="vertical-align: middle; font-size: medium;">edit</span> 작가 이름<br>
                            <span class="material-symbols-outlined"
                                style="vertical-align: middle; font-size: medium;">apartment</span> 출판사
                        </p>
                    </div>
                </div>
              </a>
            </div>
          <% } %>
        </div>
      </div>
    </div>
  </body>
</html>
